<!DOCTYPE html>
<html lang="en"><html xmlns="http://www.w3.org/1999/xhtml"
                      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>

<footer class="blog-footer bg-inverse" data-th-fragment="footer">
    <div class="container">
        <p class="m-0 text-center text-white">© 2018 <a href="#">'(nil)</a></p>
    </div>
    <script type="text/javascript" src="/scripts/main/jquery.js" th:src="@{/scripts/main/jquery.js}"></script>
    <script type="text/javascript" src="/scripts/main/base/base.js" th:src="@{/scripts/main/base/base.js}"></script>
    <script type="text/javascript" src="/scripts/main/base/util.js" th:src="@{/scripts/main/base/util.js}"></script>
    <script type="text/javascript" src="/scripts/main/base/event.js" th:src="@{/scripts/main/base/event.js}"></script>
    <script type="text/javascript" src="/scripts/main/util/action.js" th:src="@{/scripts/main/util/action.js}"></script>
    <script type="text/javascript" src="/scripts/main/component/component.js" th:src="@{/scripts/main/component/component.js}"></script>
    <script type="text/javascript" src="/scripts/main/component/popup.js" th:src="@{/scripts/main/component/popup.js}"></script>
    <script type="text/javascript" src="/scripts/main/component/popupAdd.js" th:src="@{/scripts/main/component/popupAdd.js}"></script>
    <script type="text/javascript" src="/scripts/main/component/popupMsg.js" th:src="@{/scripts/main/component/popupMsg.js}"></script>
    <script type="text/javascript" src="/scripts/main/site/home.js" th:src="@{/scripts/main/site/home.js}"></script>
    <script type="text/javascript" src="/scripts/main/site/detail.js" th:src="@{/scripts/main/site/detail.js}"></script>
</footer>
</body>
</html>


