<!DOCTYPE html>
<html lang="en"><html xmlns="http://www.w3.org/1999/xhtml">
<body>
<div class="container">
    <p class="m-0 text-center text-white">© 2018 <a href="#">'(nil)</a></p>
</div>
<footer class="blog-footer bg-inverse" data-th-fragment="footer">
<script type="text/javascript" src="/scripts/main/jquery.js"></script>
<script type="text/javascript" src="/scripts/main/base/base.js"></script>
<script type="text/javascript" src="/scripts/main/base/util.js"></script>
<script type="text/javascript" src="/scripts/main/base/event.js"></script>
<script type="text/javascript" src="/scripts/main/component/component.js"></script>
<script type="text/javascript" src="/scripts/main/component/popup.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupAdd.js"></script>
<script type="text/javascript" src="/scripts/main/component/popupMsg.js"></script>
<script type="text/javascript" src="/scripts/main/site/home.js"></script>
</footer>
</body>
</html>


